.navbar{
    width: 48px;
    height: 30vh;
    background-color: var(--color-dark);
    border-radius: 8px;
    display: grid;
    place-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
}
.navitem-img{
    width: 55%; 
    
  
    
}
.navbaritem-container{
   
   
}