.resetpassword-container{


    width: 26%;
    height: 50vh;
    position: absolute;
    left: calc(50% - 13%);
    top:calc(50% - 25vh);
    background-color: var(--color-gray-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;



}
.resetpassword-button-container{
    padding: 1rem;
}